<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Permission converter</title>

</head>
<body>
<h1>Chmod Permissions</h1>
<div id="app">
<ul>
    <h2>Owner</h2>
    <li><input type="checkbox" name="permission" v-model="permss" value="read1"> Read</li>
    <li><input type="checkbox" name="permission" v-model="permss" value="write1"> Write</li>
    <li><input type="checkbox" name="permission" v-model="permss" value="execute1"> Execute</li>
</ul>
<ul>
    <h2>Group</h2>
    <li><input type="checkbox" name="permission" v-model="permss" value="read2"> Read </li>
    <li><input type="checkbox" name="permission" v-model="permss" value="write2"> Write</li>
    <li><input type="checkbox" name="permission" v-model="permss" value="execute2"> Execute</li>
</ul>
<ul>
    <h2>Public</h2>
    <li><input type="checkbox" name="permission" v-model="permss" value="read3"> Read </li>
    <li><input type="checkbox" name="permission" v-model="permss" value="write3"> Write</li>
    <li><input type="checkbox" name="permission" v-model="permss" value="execute3"> Execute</li>
</ul>
<div>
    <ul>
        <li><input type="text" id="numVal" v-model="mesNum" placeholder="number value"></li>
        <li><input type="button" value="Convert" id="fromNum"  ></li>
    </ul>
    <ul>
        <li><input type="text" id="strVal" v-model="mesStr" placeholder="string value"></li>
        <li><input type="button" value="Convert"></li>
    </ul>
</div>
</div>

<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>